<div id="grid">
    <div *ngIf="!validGamePin || !validUsername" id="invalidPin" [@fadeInOut]>
        <span>{{ invalidText }}</span>
    </div>
    <div *ngIf="!swapPage" class="container general" [ngClass]="{ foundGame: foundStatus.status === 'found' || foundStatus.status === 'connected', gameError: foundStatus.status === 'error' || foundStatus.status === 'could not connect' }">
        <!-- Input game pin view -->
        <div class="container" *ngIf="!findingGame && foundStatus.status !== 'found'">
            <input [(ngModel)]="gamePin" (ngModelChange)="checkGamePinInput()" placeholder="Game Pin">
            <button id="cancel" (click)="goBackToMain()">Cancel</button>
            <button class="join" (click)="findGame()">Find</button>
        </div>
        <!-- Input username view -->
        <div class="container" *ngIf="foundGame && !connectingToGame">
            <input [(ngModel)]="username" (ngModelChange)="checkUsernameInput()" placeholder="Username">
            <button class="join" (click)="joinGame()">Join</button>
        </div>
        <!-- Status messages -->
        <span *ngIf="(findingGame || connectingToGame) && foundStatus.animate1" class="loading" [@fadeInOut]>{{ foundStatus.message }}</span>
        <span *ngIf="(findingGame || connectingToGame) && foundStatus.animate2" class="loading" [@fadeInOut]>{{ foundStatus.message }}</span>
    </div>
    <!-- Transition div -->
    <div *ngIf="!swapPage" id="joinGameTransition" class="loading" [@fadeInOutPage]>
        <span></span>
    </div>
</div>
<app-joined-game *ngIf="connected"></app-joined-game>