#grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "invalidPin"
    "mainContainer"
    "mainContainer";
}

#invalidPin {
    display: flex;
    grid-area: invalidPin;
    height: 100%;
    justify-content: center;
    color: #FFBABA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

#mainContainer {
    display: flex;
    grid-area: mainContainer;
    align-items: center;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #7C8AFF;
    z-index: 1;
}

.general {
    height: fit-content;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 4px solid white;
    border-radius: 20px;
}

#gamePin {
    height: 100%;
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    margin: 0;
}

/* Disable native browser increase/decrease arrows */
#gamePin::-webkit-inner-spin-button, #gamePin::-webkit-outer-spin-button {
    appearance: none;
}

#join {
    color: white;
    background: #7C8AFF;
    outline: none;
    border: none;
    border-radius: 15px;
    font-family: inherit;
    cursor: pointer;
    padding: 15px;
}

#join:hover, #join:active {
    background: #4E5DE0;
}

.foundGame, .gameError {
    padding: 5px;
    border: none;
    color: white !important;
}

.foundGame {
    background: #64BF6A !important;
}

.gameError {
    background: #FF5252 !important;
}

.loading {
    font-family: inherit;
    font-size: 25px;
    padding: 14px;
}

#joinGameTransition {
    display: flex;
    height: fit-content;
    width: fit-content;
    color: #64BF6A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2px;
    background:#64BF6A;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    margin-top: 39px;
}
