<div id="grid">
    <div *ngIf="!validGamePin" id="invalidPin" [@fadeInOut]>
        <span>{{ invalidText }}</span>
    </div>
    <div id="mainContainer" class="general">
        <input *ngIf="!joiningGame" [(ngModel)]="gamePin" (ngModelChange)="checkInput()" id="gamePin" placeholder="Game Pin">
        <button *ngIf="!joiningGame" id="join" (click)="attemptJoinGame()">Join</button>
        <span *ngIf="joiningGame" id="loading" class="general" [@fadeInOut]>Please wait...</span>
    </div>
    <div>
    </div>
</div>
