/* Responsiveness */
@media only screen and (max-width: 326px) {
    .general {
        font-size: 13px !important;
    }

    button {
        padding: 10px 10px 10px !important;
    }

    .loading {
        font-size: 16px !important;
        padding: 8px !important;
    }
}

@media only screen and (min-width: 326px) and (max-width: 361px) {
    .general {
        font-size: 15px !important;
    }

    button {
        padding: 12px 10px 12px !important;
    }

    .loading {
        font-size: 18px !important;
        padding: 10px !important;
    }
}

@media only screen and (min-width: 361px) and (max-width: 415px) {
    .general {
        font-size: 17px !important;
    }

    button {
        padding: 15px 10px 15px !important;
    }

    .loading {
        font-size: 20px !important;
        padding: 12px !important;
    }
}

#grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "invalidPin"
    "mainContainer"
    "mainContainer";
}

#invalidPin {
    display: flex;
    grid-area: invalidPin;
    height: 100%;
    justify-content: center;
    color: #FFBABA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.container {
    display: flex;
    grid-area: mainContainer;
    align-items: center;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5px;
    color: #7C8AFF;
    z-index: 1;
}

.general {
    height: fit-content;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 4px solid white;
    border-radius: 20px;
}

input {
    height: 100%;
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    margin: 0;
}

/* Disable native browser increase/decrease arrows */
#gamePin::-webkit-inner-spin-button, #gamePin::-webkit-outer-spin-button {
    appearance: none;
}

button {
    outline: none;
    border: none;
    border-radius: 15px;
    font-family: inherit;
    cursor: pointer;
    padding: 15px;
    color: white;
}

#cancel {
    background: #FF5252;
    margin-right: 5px;
}

#cancel:hover, #cancel:active {
    background: #F80000;
}

.join {
    background: #7C8AFF;
}

.join:hover, .join:active {
    background: #4E5DE0;
}

.foundGame, .gameError {
    padding: 5px;
    border: none;
    color: white !important;
}

.foundGame {
    background: #64BF6A !important;
}

.gameError {
    background: #FF5252 !important;
}

.loading {
    font-family: inherit;
    font-size: 25px;
    padding: 14px;
}

#joinGameTransition {
    display: flex;
    height: fit-content;
    width: fit-content;
    color: #64BF6A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2px;
    background:#64BF6A;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    margin-top: 39px;
}
