<div *ngIf="show" class="container" [@fadeInOut]>
    <!-- General info -->
    <div id="generalInfo" class="rounded">
        <h4 class="header">Game Pin {{ pin }}</h4>
        <h4 class="header">Player Count {{ playerList.length }}</h4>
        <h4 *ngIf="gameStarted" class="header">Time Left {{ game.timeLeft }}</h4>
    </div>
    <!-- Player usernames in game -->
    <div id="players">
        <h3 class="header">Player Scoreboard</h3>
        <div id="scoreboard" class="rounded">
            <ul>
                <li *ngFor="let player of playerList" class="player" [@fadeInOut]>
                    <b>{{ player.username }}</b>
                    <div id="scores">
                        <span class="score" [style.width.%]="(player.score/highestScore * 100) - 2">{{ player.score }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Status message/Start game button -->
    <div id="footer" class="rounded">
        <button *ngIf="!gameStarted && playerList.length > 0" id="startBtn" (click)="startGame()">Start Game</button>
        <h3 *ngIf="gameStarted || playerList.length === 0">{{ status }}</h3>
    </div>
</div>
