<div *ngIf="show" class="container" [@fadeInOut]>
    <!-- General info -->
    <div id="generalInfo" class="rounded">
        <h4 class="header">Game Pin {{ gamePin }}</h4>
        <h4 class="header">Player Count {{ playerList.length }}</h4>
        <h4 *ngIf="gameStarted" class="header">Time Left {{ game.timeLeft }}</h4>
        <h4 *ngIf="gameStarted" class="header">{{ placement }}</h4>
    </div>
    <!-- Player usernames in game -->
    <div *ngIf="!gameStarted" id="playerContainer">
        <h3 class="header">Players</h3>
        <div id="playerList" class="rounded">
            <ul id="players">
                <li *ngFor="let player of playerList" class="player" [@fadeInOut]>
                    {{ player.username }}
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="gameStarted" class="miniGrid">
        <div id="miniContainerOne">
            <h3 class="header">Question</h3>
            <div id="question" class="center rounded">{{ currentQuestion.question }}</div>
        </div>
        <div id="miniContainerTwo">
            <h3 class="header">Scoreboard</h3>
            <div id="scoreboard" class="center rounded">
                <ul id="scores">
                    <li *ngFor="let player of playerList" class="playerScore" [@fadeInOut]>
                        <b>{{ player.username }}</b>
                        <div id="scores">
                            <span class="score" [style.width.%]="(player.score/highestScore * 100) - 2">{{ player.score }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Answer choices -->
    <div *ngIf="answeringQuestion" id="answers" class="rounded">
        <div id="choices">
            <div *ngFor="let choice of currentQuestion.choices; let i = index" (click)="answerQuestion(i)" class="choice">
                {{ choice }}
            </div>
        </div>
    </div>
    <!-- Status message -->
    <h1 *ngIf="!answeringQuestion" id="status" class="header">{{ status }}</h1>
</div>
